:root {
  --bg-content: #434343;
  --query-height: 50px;
}

.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

#page-content {
  background-color: var(--bg-content);
  overflow: auto;
  scroll-behavior: smooth;
}

.query {
  background-color: var(--bg-content);
  position: sticky;
  top: 0;
  height: var(--query-height);
  z-index: 100;
}

.show-title {
  background-color: var(--bg-content);
  position: sticky;
  top: var(--query-height);
  z-index: 100;
}

.ratio-2x3 {
  --bs-aspect-ratio: 150%;
}
